In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../TextFiles/smsspamcollection.tsv", sep='\t')

In [6]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [7]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [8]:
len(df)

5572

In [11]:
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [13]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [18]:
X = df[['length','punct']]
y = df[['label']]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3 )

In [21]:
X_train.shape

(3900, 2)

In [23]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
nb_model = MultinomialNB()
nb_model.fit(X_train, y_train)
predictions = nb_model.predict(X_test)
print(metrics.confusion_matrix(y_test, predictions))

[[1435    9]
 [ 224    4]]

C:\Users\adity\.conda\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
print(metrics.accuracy_score(y_test, predictions))

0.8606459330143541

In [26]:
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

         ham       0.86      0.99      0.92      1444
        spam       0.31      0.02      0.03       228

   micro avg       0.86      0.86      0.86      1672
   macro avg       0.59      0.51      0.48      1672
weighted avg       0.79      0.86      0.80      1672

In [28]:
from sklearn.svm import SVC

In [30]:
svc_model = SVC(gamma='auto')
svc_model.fit(X_train,y_train)
predictions = svc_model.predict(X_test)
print(metrics.confusion_matrix(y_test, predictions))

C:\Users\adity\.conda\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[1379   65]
 [ 128  100]]

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
vect = CountVectorizer()

In [33]:
message = ["I’m going to talk to you tonight about goals. ",
           "There are four basic reasons why people do not have goals.",
           "Number one, they have not been sold. Now friends, I’m flat going to sell you on why you got to have them.",
           " I didn’t say I wanted to. I didn’t say I was going to try to, didn’t say I hoped to.",
           "I flat said I’m going to sell you on why you must have them."]

In [34]:
dtm = vect.fit_transform(message)

In [37]:
dtm

<5x37 sparse matrix of type '<class 'numpy.int64'>'
	with 55 stored elements in Compressed Sparse Row format>

  (0, 9)	1
  (0, 0)	1
  (0, 31)	1
  (0, 36)	1
  (0, 26)	1
  (0, 30)	2
  (0, 10)	1
  (1, 12)	1
  (1, 15)	1
  (1, 5)	1
  (1, 20)	1
  (1, 35)	1
  (1, 21)	1
  (1, 2)	1
  (1, 7)	1
  (1, 1)	1
  (1, 28)	1
  (1, 9)	1
  (2, 27)	1
  (2, 11)	1
  (2, 18)	1
  (2, 24)	1
  (2, 6)	1
  (2, 8)	1
  (2, 16)	1
  :	:
  (2, 12)	2
  (2, 15)	1
  (2, 35)	1
  (2, 36)	2
  (2, 30)	2
  (2, 10)	1
  (3, 13)	1
  (3, 32)	1
  (3, 34)	1
  (3, 33)	1
  (3, 23)	3
  (3, 4)	3
  (3, 30)	4
  (3, 10)	1
  (4, 14)	1
  (4, 22)	1
  (4, 27)	1
  (4, 18)	1
  (4, 24)	1
  (4, 6)	1
  (4, 12)	1
  (4, 35)	1
  (4, 36)	2
  (4, 30)	1
  (4, 10)	1

In [41]:
f = "I’m going to talk to you tonight about goals. There are four basic reasons why people do not have goals. Number one, they have not been sold. Now friends, I’m flat going to sell you on why you got to have them. I didn’t say I wanted to. I didn’t say I was going to try to, didn’t say I hoped to. I flat said I’m going to sell you on why you must have them."

In [46]:
f2 = "t wasn't your ability; it was your state. Your model of the world is what shapes you long term. Your model of the world is the filter. That's what's shaping us. It makes people make decisions. To influence somebody, we need to know what already influences them. It's made up of three parts. First, what's your target? What are you after? It's not your desires. You can get your desires or goals. Who has ever got a goal or desire and thought, is this all there is? "

In [45]:
vocab = {}
i =  1
x = f.lower().split()

for word in x:
    if word in vocab:
        continue
    else:
        vocab[word] = i
        i+=1
print(vocab)

{'i’m': 1, 'going': 2, 'to': 3, 'talk': 4, 'you': 5, 'tonight': 6, 'about': 7, 'goals.': 8, 'there': 9, 'are': 10, 'four': 11, 'basic': 12, 'reasons': 13, 'why': 14, 'people': 15, 'do': 16, 'not': 17, 'have': 18, 'number': 19, 'one,': 20, 'they': 21, 'been': 22, 'sold.': 23, 'now': 24, 'friends,': 25, 'flat': 26, 'sell': 27, 'on': 28, 'got': 29, 'them.': 30, 'i': 31, 'didn’t': 32, 'say': 33, 'wanted': 34, 'to.': 35, 'was': 36, 'try': 37, 'to,': 38, 'hoped': 39, 'said': 40, 'must': 41}

In [48]:
x = f2.lower().split()

In [49]:
for word in x:
    if word in vocab:
        continue
    else:
        vocab[word] = i
        i+=1
print(vocab)

{'i’m': 1, 'going': 2, 'to': 3, 'talk': 4, 'you': 5, 'tonight': 6, 'about': 7, 'goals.': 8, 'there': 9, 'are': 10, 'four': 11, 'basic': 12, 'reasons': 13, 'why': 14, 'people': 15, 'do': 16, 'not': 17, 'have': 18, 'number': 19, 'one,': 20, 'they': 21, 'been': 22, 'sold.': 23, 'now': 24, 'friends,': 25, 'flat': 26, 'sell': 27, 'on': 28, 'got': 29, 'them.': 30, 'i': 31, 'didn’t': 32, 'say': 33, 'wanted': 34, 'to.': 35, 'was': 36, 'try': 37, 'to,': 38, 'hoped': 39, 'said': 40, 'must': 41, 't': 42, "wasn't": 43, 'your': 44, 'ability;': 45, 'it': 46, 'state.': 47, 'model': 48, 'of': 49, 'the': 50, 'world': 51, 'is': 52, 'what': 53, 'shapes': 54, 'long': 55, 'term.': 56, 'filter.': 57, "that's": 58, "what's": 59, 'shaping': 60, 'us.': 61, 'makes': 62, 'make': 63, 'decisions.': 64, 'influence': 65, 'somebody,': 66, 'we': 67, 'need': 68, 'know': 69, 'already': 70, 'influences': 71, "it's": 72, 'made': 73, 'up': 74, 'three': 75, 'parts.': 76, 'first,': 77, 'target?': 78, 'after?': 79, 'desires.': 80, 'can': 81, 'get': 82, 'desires': 83, 'or': 84, 'who': 85, 'has': 86, 'ever': 87, 'a': 88, 'goal': 89, 'desire': 90, 'and': 91, 'thought,': 92, 'this': 93, 'all': 94, 'is?': 95}

In [58]:
one = ['f1']+[0]*len(vocab)
two = ['f2']+[0]*len(vocab)

In [59]:
x = f.lower().split()

for word in x:
    one[vocab[word]]+=1

In [60]:
one

['f1',
 3,
 4,
 6,
 1,
 5,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 6,
 3,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [61]:
x = f2.lower().split()

for word in x:
    two[vocab[word]]+=1

In [76]:
print(f'{one}\n{two}')

['f1', 3, 4, 6, 1, 5, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 6, 3, 3, 1, 2, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
['f2', 0, 0, 2, 0, 3, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 7, 1, 2, 1, 2, 3, 3, 2, 3, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [63]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [64]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [65]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
X = df['message']

In [69]:
y = df['label']

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.33, random_state = 42)

In [71]:
from sklearn.feature_extraction.text import CountVectorizer

In [72]:
count_vect = CountVectorizer()

In [74]:
# FIT CEVTORIZER TO THE DATA
#count_vect.fit(X_train)
X_train_counts = count_vect.fit_transform(X_train)

In [75]:
X_train_counts

<3733x7082 sparse matrix of type '<class 'numpy.int64'>'
	with 49992 stored elements in Compressed Sparse Row format>

In [77]:
from sklearn.feature_extraction.text import TfidfTransformer

In [78]:
tfidf_transformer = TfidfTransformer()

In [79]:
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [80]:
X_train_tfidf.shape

(3733, 7082)

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [90]:
vectorizer = TfidfVectorizer()

In [92]:
X_train_tfidf = vectorizer.fit_transform(X_train)

In [93]:
from sklearn.svm import LinearSVC

In [94]:
clf = LinearSVC()

In [95]:
clf.fit(X_train_tfidf, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [96]:
from sklearn.pipeline import Pipeline

In [97]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()),('clf',LinearSVC())])